<div class="about-carousal-wrap">
    <div class="owl-carousel owl-theme about-carousal">
        <div class="item"> <img src="assets/images/about-banner/about1.jpg" class="img-responsive" alt=""></div>
        <div class="item"> <img src="assets/images/about-banner/about2.jpg" class="img-responsive" alt=""></div>
        <div class="item"> <img src="assets/images/about-banner/about3.jpg" class="img-responsive" alt=""></div>
        <div class="item"> <img src="assets/images/about-banner/about4.jpg" class="img-responsive" alt=""></div>
    </div>
</div>