<div class="main">
	<div class="banner">
		<owl-carousel-o [options]="{items: 1, dots: true, navigation: false}">
			<ng-template carouselSlide><img src="assets/images/banners/b.jpg"></ng-template>  
			<ng-template carouselSlide><img src="assets/images/banners/b.jpg"></ng-template>  
			<ng-template carouselSlide><img src="assets/images/banners/b.jpg"></ng-template>  
		</owl-carousel-o>
	</div>
	<div class="container">
		<div class="row">

			<div class="col-12 mt50 make-an-appointment">
				<div class="appointment-form-content">
					<div class="row no-gutters align-items-center">
						<div class="col-12">
							<div class="medilife-appointment-form">
								<h3 class="appoint-head">Make an Appointment</h3>
								<!--<h3>Make an Appointment</h3>-->
								<form #f="ngForm" name="appForm" class="appoint-form" (ngSubmit)="onSubmit()">
									<div class="row align-items-end">
										<div class="col-12 col-md-4">
											<div class="form-group">
												<select name="speciality" class="form-control" id="speciality" [(ngModel)]="model.spec" #spec="ngModel" required>
                          <option value="">- Select speciality -</option>
													<option *ngFor="let spec of speciality" value="{{spec}}">{{spec}}</option>
                        </select>
                        <p class="error" *ngIf="f.submitted && spec.errors?.required">Please select a speciality.</p>
											</div>
										</div>
										<div class="col-12 col-md-4">
											<div class="form-group">
												<select name="doctors" class="form-control" id="doctors" [(ngModel)]="model.doc" #doc="ngModel" required>
                          <option value="">- Select Doctor -</option>
													<option *ngFor="let doc of doctors" value="{{doc}}">{{doc}}</option>
                        </select>
                        <p class="error" *ngIf="f.submitted && doc.errors?.required">
                          Please select a Doctor.
                        </p>
											</div>
										</div>
										<div class="col-12 col-md-4">
											<div class="form-group">
                        <input type="date" class="form-control" name="date" id="date" placeholder="Date / Time" [(ngModel)]="model.date" #date = "ngModel"  required>
                        <p class="error" *ngIf="f.submitted && date.errors?.required">Please select an appointment date.</p>
											</div>
										</div>
                  <!--                  <div class="col-12 col-md-2">
                    <div class="form-group">
                      <input type="text" class="form-control" name="time" id="time" placeholder="Time">
                    </div>
                  </div> -->
                  <div class="col-12 col-md-4">
                  	<div class="form-group">
                      <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name" id="name" placeholder="Name" [(ngModel)]="model.name" #name="ngModel" required>
                      <p class="error" *ngIf="f.submitted && name.errors?.required">Please provide your name.</p>
                  	</div>
                  </div>
                  <div class="col-12 col-md-4">
                  	<div class="form-group">
                      <input type="text" class="form-control border-top-0 border-right-0 border-left-0"  name="number" id="number" placeholder="Phone" [(ngModel)]="model.phone" #phone="ngModel" required>
                      <p class="error" *ngIf="f.submitted && phone.errors?.required">Please provide your contact number.</p>
                  	</div>
                  </div>
                  <div class="col-12 col-md-4">
                  	<div class="form-group">
                      <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email" id="email" placeholder="E-mail" [(ngModel)]="model.email" #email="ngModel" required>
                      <p class="error" *ngIf="f.submitted && email.errors?.required">Please provide your email address.</p>
                  	</div>
                  </div>
                  <div class="col-12 col-md-12">
                  	<div class="form-group mb-0">
                      <textarea name="message" class="form-control mb-0 border-top-0 border-right-0 border-left-0" id="message" cols="30" rows="10" placeholder="Message" tabindex="1" style="overflow: hidden; outline: none;" [(ngModel)]="model.message" #message="ngModel" required></textarea>
                      <p class="error" *ngIf="f.submitted && message.errors?.required">Please provide a brief about your concern.</p>
                  	</div>
                  </div>
                  <div class="col-12 col-md-12 neon-wrap">
                  	<div class="form-group">
                  		<button type="submit" class="btn neon-btn">Make an Appointment</button>
                  	</div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="opening-main">
	<div class="opening wrap">
		<div class="neon-contact-info text-center">
			<!-- Single Contact Info -->
			<div class="row">
				<div class="single-contact-info col-md-4">
					<i class="far fa-clock" ></i>
					<p>Mon - Sat 08:00 - 21:00 <br>Sunday CLOSED</p>
				</div>
				<!-- Single Contact Info -->
				<div class="single-contact-info col-md-4">
					<i class="far fa-envelope" ></i>
					<p>0080 673 729 766 <br>admin@neonhospital.com</p>
				</div>
				<!-- Single Contact Info -->
				<div class="single-contact-info col-md-4">
					<i class="fas fa-map-marker-alt"> </i>
					<p>Thane, Mumbai <br>India</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="about-main" id="about-us">
	<div class="about-wrap">
		<h3 class="about-head">About Us</h3>
		<p>
			Neon Hospital, incorporated in feb 2018 is in Dombivli, Thane. The vision here is to pioneer cost-effective,
			personalized and high quality healthcare for our patients across the domains of multi-speciality DayCare,
			Emergency Medicine & Acute Care By Medical professionals. The inclusion of Complementary & Alternative
			Medicine in our service segments is our next goal.
    </p>
    <app-about-slider></app-about-slider>
		<div class="col-12 col-md-12 neon-wrap">
			<div class="form-group">
				<a class="btn neon-btn" href="<?php echo base_url('about'); ?>">Know More</a>
			</div>
		</div>
	</div>
</div>
</div>


